### 导入必须的库，以及设置常量

In [5]:
from pymongo import MongoClient, UpdateOne
import akshare as ak
import pandas as pd
from datetime import datetime, timedelta

uri = "mongodb+srv://stockdata:xxxxxx@stockdata.1sxq3d6.mongodb.net/Astockdata_db?retryWrites=true&w=majority"
client = MongoClient(uri)
db = client['Astockdata_db']
collection = db['Astockdata_collection']
status_collection = db['data_update_status']

target_index = '000016' # 上证50
#target_index = '000300' # 沪深300

### 清空数据库内数据（<font color=red>这里要小心，没需要的时候不要运行</font>）

In [6]:
collection.delete_many({})
status_collection.delete_many({})

DeleteResult({'n': 50, 'electionId': ObjectId('7fffffff00000000000002d1'), 'opTime': {'ts': Timestamp(1718936356, 59), 't': 721}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1718936356, 68), 'signature': {'hash': b'\xe7\x14\xac\xfaB\x9en\xc6\xa7\xb6\xde\x9c\x04\xd3\xcf\xf7\x90\xca\xb4\x8c', 'keyId': 7336203122554961922}}, 'operationTime': Timestamp(1718936356, 59)}, acknowledged=True)

## 自定义函数

In [7]:
# 给股票代码加前缀
# 因为akshare库的不少函数，调用股票代码作为参数时，要指明是上交所还是深交所的股票
# 所以，如果代码是以6开头的，加sh前缀
# 如果代码是以0或者3开头的，加sz前缀
# 如果是其他，那么先不处理，后续再说
def add_prefix(stock_code):
  if (stock_code.startswith('6')):
    return 'sh' + stock_code
  elif (stock_code.startswith(('0', '3'))):
    return 'sz' + stock_code
  else:
    print("目前已知0、3开头的是深交所股票，6开头的是上交所股票，其他字头的待定。")
    return stock_code

###################################################################################################################

# 把三种不同形式的日期变换成同一种形式:pd.to_datetime
# 1. yyyy-mm-dd
# 2. yyyymmdd
# 3. datetime.date对象
def convert_to_datetime(date):
  if (isinstance(date, str)):
    if ('-' in date):
      return pd.to_datetime(date, format='%Y-%m-%d')
    else:
      return pd.to_datetime(date, format='%Y%m%d')
  elif (isinstance(date, datetime)):
    return pd.to_datetime(date)
  else:
    raise (ValueError("Invalid date format. Use 'yyyy-mm-dd', 'yyyymmdd', or datetime.date object."))

###################################################################################################################

# 从akshare获取交易日历
def get_trading_calendar(start_date, end_date):
  trading_calendar = ak.tool_trade_date_hist_sina()
  trading_dates = pd.to_datetime(trading_calendar['trade_date'])
  return trading_dates[(trading_dates >= pd.to_datetime(start_date)) & (trading_dates <= pd.to_datetime(end_date))]

###################################################################################################################

# 从akshare库读取指定指数成分股的日K数据，再存放到atlas数据库上（mongodb）
def fetch_and_store_data(target_idx):
  target_stock_list = ak.index_stock_cons_csindex(symbol=target_idx)
  stock_list = target_stock_list[['成分券代码', '成分券名称']].values.tolist()

  stock_update_counter = 1

  for stock_code, stock_name in stock_list:
    prefixed_stock_code = add_prefix(stock_code)
    try:
      stock_data = ak.stock_zh_a_daily(symbol=prefixed_stock_code, adjust='qfq')
      stock_data.reset_index(inplace=True)
      stock_data['date'] = pd.to_datetime(stock_data['date'])
      stock_data['code'] = stock_code
      stock_data['name'] = stock_name
      stock_data = stock_data[['code',
                               'name',
                               'date',
                               'open',
                               'high',
                               'low',
                               'close',
                               'volume',
                               'turnover']]

      data_dict = stock_data.to_dict("records")
      operations = [UpdateOne({'code': record['code'],
                               'date': record['date']},
                                {'$set': record}, upsert=True) for record in data_dict]
      collection.bulk_write(operations)

      print(f"{stock_update_counter}: {stock_code} 数据插入存储完毕！")
      stock_update_counter += 1

      # 更新 data_update_status 表
      min_date = stock_data['date'].min()
      max_date = stock_data['date'].max()
      status_collection.update_one(
          {'code': stock_code},
          {'$set': {'code': stock_code,
                    'name': stock_name,
                    'start_date': min_date,
                    'end_date': max_date}},
          upsert=True)
    except Exception as e:
      print(f"获取 {stock_code} 数据失败： {e}")

###################################################################################################################

# 读取数据库数据并返回dataframe
def query_data(code, start_date, end_date):
  try:
    Start = convert_to_datetime(start_date)
    End = convert_to_datetime(end_date)
  except Exception as e:
    print(f"输入的日期有误！ \n{e}")

  query = {
      'code': code,
      'date': {'$gte': pd.to_datetime(start_date),
               '$lte': pd.to_datetime(end_date)}
  }
  data = list(collection.find(query, {'_id': 0})) # 不包括 '_id' 列
  df = pd.DataFrame(data)
  if not df.empty:
    df = df[['code', 'name', 'date', 'open', 'high', 'low', 'close', 'volume', 'turnover']]
  return df

In [8]:
fetch_and_store_data('000016')

1: 600028 数据插入存储完毕！
2: 600030 数据插入存储完毕！
3: 600031 数据插入存储完毕！
4: 600036 数据插入存储完毕！
5: 600048 数据插入存储完毕！
6: 600050 数据插入存储完毕！
7: 600089 数据插入存储完毕！
8: 600104 数据插入存储完毕！
9: 600150 数据插入存储完毕！
10: 600276 数据插入存储完毕！
11: 600309 数据插入存储完毕！
12: 600406 数据插入存储完毕！
13: 600436 数据插入存储完毕！
14: 600438 数据插入存储完毕！
15: 600519 数据插入存储完毕！
16: 600690 数据插入存储完毕！
17: 600809 数据插入存储完毕！
18: 600887 数据插入存储完毕！
19: 600900 数据插入存储完毕！
20: 600941 数据插入存储完毕！
21: 601012 数据插入存储完毕！
22: 601088 数据插入存储完毕！
23: 601166 数据插入存储完毕！
24: 601225 数据插入存储完毕！
25: 601288 数据插入存储完毕！
26: 601318 数据插入存储完毕！
27: 601328 数据插入存储完毕！
28: 601390 数据插入存储完毕！
29: 601398 数据插入存储完毕！
30: 601601 数据插入存储完毕！
31: 601628 数据插入存储完毕！
32: 601633 数据插入存储完毕！
33: 601658 数据插入存储完毕！
34: 601668 数据插入存储完毕！
35: 601669 数据插入存储完毕！
36: 601728 数据插入存储完毕！
37: 601857 数据插入存储完毕！
38: 601888 数据插入存储完毕！
39: 601899 数据插入存储完毕！
40: 601919 数据插入存储完毕！
41: 601985 数据插入存储完毕！
42: 601988 数据插入存储完毕！
43: 603259 数据插入存储完毕！
44: 603288 数据插入存储完毕！
45: 603501 数据插入存储完毕！
46: 603986 数据插入存储完毕！
47: 688012 数据插入存储完毕！
48: 688041 数据插入存储完毕！
49: 688111 数据插入存储完毕！
50: 688981 数据插入存储完毕！

In [9]:
query_data('600031', '20240601', '20240615')

     code  name       date   open   high    low  close      volume  turnover
0  600031  三一重工 2024-06-03  15.95  16.02  15.59  15.69  65521209.0  0.007741
1  600031  三一重工 2024-06-04  15.69  15.83  15.64  15.69  44774500.0  0.005290
2  600031  三一重工 2024-06-05  15.69  15.75  15.50  15.55  37007552.0  0.004372
3  600031  三一重工 2024-06-06  15.68  16.07  15.64  15.93  71062807.0  0.008396
4  600031  三一重工 2024-06-07  15.96  16.30  15.86  15.94  76649606.0  0.009056
5  600031  三一重工 2024-06-11  15.95  15.95  15.53  15.71  44059012.0  0.005205
6  600031  三一重工 2024-06-12  15.66  15.92  15.55  15.85  56396265.0  0.006663
7  600031  三一重工 2024-06-13  15.77  15.79  15.29  15.35  67873289.0  0.008019
8  600031  三一重工 2024-06-14  15.29  15.53  15.24  15.46  37437772.0  0.004423